version: "3.9"

services:
  api:
    build:
      context: ./backend 
      dockerfile: Dockerfile
    container_name: music_catalog_api
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      DB_URL_LOCAL: mysql://vinilcasethub:1111111@10.10.10.73:3306/vinilcasethub
      DB_URL_EXTERNAL: mysql://vinilcasethub:1111111@193.109.144.160:4391/vinilcasethub
      JWT_SECRET: YOUR_SUPER_SECRET_KEY_FOR_JWT

  web:
    build:
      context: ./frontend 
      dockerfile: Dockerfile
    container_name: music_catalog_web
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "5173:80" 
    environment:
      REACT_APP_API_BASE_URL: "http://localhost:5000/api"