version: "3.9"

services:
  api:
    build:
      context: ./backend 
      dockerfile: Dockerfile
    container_name: music_catalog_api
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_SERVICE_NAME: music-catalog-api
      DB_URL_LOCAL: mysql://vinilcasethub:1111111@10.10.10.73:3306/vinilcasethub
      DB_URL_EXTERNAL: mysql://vinilcasethub:1111111@193.109.144.160:4391/vinilcasethub
      JWT_SECRET: YOUR_SUPER_SECRET_KEY_FOR_JWT
    depends_on:
      - otel-collector

  web:
    build:
      context: ./frontend 
      dockerfile: Dockerfile
    container_name: music_catalog_web
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "5173:80" 
    environment:
      REACT_APP_API_BASE_URL: "http://localhost:5000/api"


  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"
      - "8889:8889"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  loki:
    image: grafana/loki:latest
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yaml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200"
      - "4317"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
    volumes:
      - ./grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    depends_on:
      - prometheus
      - loki
      - tempo