/* ProductCard.css */
.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.view-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

/* Додайте до ProductDetails.css або загального файлу стилів */

.image-slider-container {
    position: relative;
    width: 300px; /* Або інший розмір, який вам потрібен */
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-image {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.slider-controls button {
    padding: 5px 10px;
    cursor: pointer;
}