receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
  # 1. Метрики (Prometheus)
  prometheus:
    endpoint: "0.0.0.0:8889"
    resource_to_telemetry_conversion:
      enabled: true

  # 2. Трейси (Tempo)
  otlp/tempo:
    endpoint: "tempo:4317"
    tls:
      insecure: true

  # 3. Логи (Loki через OTLP HTTP)
  otlphttp/loki:
    endpoint: "http://loki:3100/otlp"
    tls:
      insecure: true

extensions:
  health_check:
    endpoint: "0.0.0.0:13133"

service:
  extensions: [health_check]

  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]

    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/loki]
