.container {
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h2 {
  text-align: center;
  
}